In [158]:
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#target is total claim amount

In [160]:
data=pd.read_csv('/Users/Bijou/Desktop/we_fn_use_c_marketing_customer_value_analysiscopy.csv')

In [161]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [185]:
#data.isna().sum() 
#data.shape 
#data.describe 
#data.columns 
#data.dtypes  

#standerdize text data check value counts(run a loop)
#always get everything into lower case

In [189]:
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [163]:
numerical=data.select_dtypes(np.number) 
categorical=data.select_dtypes(np.object)

In [186]:
numerical.head(5)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2
3,7645.861827,0,106,18,65,0,7
4,2813.692575,43836,73,12,44,0,1

In [187]:
categorical.head(5)
#remove date
categorical.drop(['Effective To Date'],axis=1)

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [166]:
# do not transform y when testing it against the train test split 
y = numerical['Total Claim Amount'] 
numerical= numerical.drop(['Total Claim Amount'],axis=1) 
x_numerical_dat=numerical

In [167]:
from sklearn.preprocessing import StandardScaler 
transformer = StandardScaler().fit(x_numerical_dat) 
x_standardized = transformer.transform(x_numerical_dat) 
x_standardized

array([[-0.76287773,  0.61282744, -0.70392465, ..., -1.54328695,
        -0.42224956, -0.82264788],
       [-0.14924546, -1.23961684,  0.02269103, ..., -0.21733419,
        -0.42224956,  2.10615996],
       [ 0.71063622,  0.36570978,  0.42959581, ..., -0.36068043,
        -0.42224956, -0.40424676],
       ...,
       [ 0.02313483, -1.23961684, -0.23889062, ..., -0.39651699,
         2.87324529, -0.40424676],
       [-0.06993547, -0.51735647,  0.08082028, ..., -1.61496007,
        -0.42224956,  0.01415436],
       [-0.78495478, -1.23961684, -0.47140763, ...,  1.50282075,
        -0.42224956, -0.82264788]])

In [168]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [169]:
categorical=categorical.drop(['Customer'],axis=1)

In [170]:
categorical.columns

Index(['State', 'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Location Code', 'Marital Status',
       'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [171]:
encoded = pd.get_dummies(categorical) 
#categorical data changed to number type  
    #onehotencoder 
#label encoding when the categories have weight ie grades 
#last class

In [ ]:
#checked the correlation between numerical and categorical columns 
# heatmap **** 
# outliers eda box plots then loop  

# do the full clean and check

# 1.In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [172]:
encoded_df = pd.DataFrame(encoded)
scaled_df = pd.DataFrame(x_standardized)
X = pd.concat([scaled_df, encoded_df], axis=1)
# y has already been selected

In [190]:
data.shape

(9134, 24)

In [173]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)# decrease the test size, more appropriate

In [174]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [175]:
model = LinearRegression()  
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [176]:
y_pred

array([366.2109375, 265.4140625,  25.3046875, ..., 262.0234375,
       612.4375   , 507.8671875])

https://scikit-learn.org/stable/modules/model_evaluation.html

In [177]:
# check accuracy measures and what does each mean  
    # sklearn.metrics.r2_score(y_true, y_pred, *, sample_weight=None, multioutput='uniform_average')

In [178]:
# you can still use the y_test as the true values instead of the correclty predicted values 
#review these and what the best numbers are 
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R2:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 95.20285336891078
Mean Squared Error: 18465.502703981165
Root Mean Squared Error: 135.88783133151094
R2: 0.7675918519243452

# !!!!!2.Try a simple linear regression with all the data to see whether we are getting good results.

#### does it matter if the columns have been fitted already or that only matters for the train test split ???

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [179]:
from sklearn.linear_model import LinearRegression

In [180]:
#X and y have already been encoded above, you can use them here 
reg = LinearRegression().fit(X,y) 
reg.score(X,y)

0.7743283726160304

# !!!!!!Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

In [181]:
#remember the last lesson where we find the line of best fit for the model, aka the goldilocks zone

In [182]:
#dont use imports in the def have them done all before hand  
# if you import the libraries over on  a loop it will slow it down 

def train_test_all(a,b):
#model 1
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100) 
    model = LinearRegression()  
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)  
    print('Train test split')
    print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
    print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    print('R2:', metrics.r2_score(y_test, y_pred)) 
#model 2 
    model = KNeighborsRegressor(n_neighbors=10)
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    score = model.score(X_test, y_test)
    lm = linear_model.LinearRegression()
    model = lm.fit(X_train,y_train) 
    print('KNeighborsRegressor')
    print(r2_score(y_test, predictions))
#model 3

In [183]:
train_test_all(X,y)

UnboundLocalError: local variable 'X' referenced before assignment

# Use the function to check LinearRegressor and KNeighborsRegressor.

In [85]:
# loop to test which is the best nearest neighbor number , find the best accuracy 
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=10)
model.fit(X_train, y_train)

predictions = model.predict(X_test)
score = model.score(X_test, y_test)

from sklearn import linear_model
from sklearn.metrics import r2_score
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
# predictions  = lm.predict(X_test)
r2_score(y_test, predictions)

# not the best cross validation is better 
    #train test split might select a test set that gives a really high accuracy if you only run one time 
    #best to do multiple and create an average of them
#remember that by changing the number of nearest neighbors you can change the bias and the variance of the line

0.6976352068550813

# You can check also the MLPRegressor for this task!

https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html

In [89]:
data.shape

(9134, 24)

In [90]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split s
X, y = make_regression(n_samples=200, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1) 
regr = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)

In [91]:
regr.predict(X_test[:2]) 
regr.score(X_test, y_test)

0.4162338898076593

# Check and discuss the results.

In [ ]:
#with cleaning a more reliable model  
# does not garuntee improved accuracy