In [ ]:
#use lesson/notes form 1.08 to complete this lab

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [ ]:

Processing Data
(Further processing...)
--------------------------------------------------------
##Done in the previous lab##
X-y split. (done)
Normalize (numerical). (done)
--------------------------------------------------------
##DO THE FOLLOWING##
    One Hot/Label Encoding (categorical). #check
    Concat DataFrames
#Linear Regression#
    Train-test split.
    Apply linear regression.
#Model Validation#
Description:
    R2.
    MSE.
    RMSE.
    MAE.

In [8]:
#PREVIOUS LAB#
X_num = data.select_dtypes(include = np.number)
from sklearn.preprocessing import Normalizer 
transformer = Normalizer().fit(X_num) 
x_normalized = transformer.transform(X_num)

In [ ]:
 One Hot/Label Encoding (categorical).

In [4]:
data=pd.read_excel('/Users/Bijou/Desktop/Ironhack_prework_activities/LABS/LAB5/marketing_customer_analysis.xlsx')

In [5]:
X_cat = data.select_dtypes(include = np.object)  
X_cat 

#what do I do with the date is this scenario???
#should I remove it with the customer number?

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [6]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='error').fit(X_cat)

encoded = encoder.transform(X_cat).toarray()
encoded

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
#CONCATENATE

In [9]:
X = np.concatenate((x_normalized, encoded), axis=1)

In [ ]:
#TRAIN TEST SPLIT 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=100)

In [ ]:
#APPLY LINEAR REGRESSION
lm = linear_model.LinearRegression() 
model = lm.fit(X_train,y_train)
predictions  = lm.predict(X_test) 
r2_score(y_test, predictions)

In [ ]:
#DO THE FOLLOWING
#-------------------------------------------------------------------
    #R2. 
r2 = r2_score(y_test, predictions) 
r2  
#-------------------------------------------------------------------
    #MSE.
mse = mean_squared_error(y_test, predictions) 
print(mse)
#-------------------------------------------------------------------    
    #RMSE.
rmse = math.sqrt(mse)
print(rmse)   
#-------------------------------------------------------------------    
    #MAE.
from sklearn.metrics import mean_absolute_error as mae

#calculate MAE
#mae(actual, pred) 

#Whats the difference between y and x test ???????
mae()